.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* на весь екран */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6); /* затемнення фону (за бажанням) */
}
